@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "./styles/components/navbar.css";
@import "./styles/components/loader.css";
@import "./styles/components/carousel.css";
@import "./styles/components/filterBar.css";
@import "./styles/components/cardList.css";
@import "./styles/components/detailspage.css";
@import "./styles/components/profile.css";
@import "./styles/utilities.css";
@import "./styles/layout.css";

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
  overflow-y: auto;
}

/* Background of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
